/* //////
code for slider
////// */

.slider {
   width: 1250px;
   height: 600px;
   text-align: center;
   font: black;
}

.lowerSlider {
   color: black;
}


/* ////
code for finished cart
/// */

.cartButton {
   text-align: center;
}

.finishedCart {
   float: right;
   width: 250px;
   height: 600px;
   border-style: solid;
   border-color: lightblue;
   border-width: 2px;


}

.float {
   display: flex;
   flex-direction: row;
}

/* /////////

code for review

//////// */

.ramenPic {
   float: right;
   /* display: flex;
   flex-direction: right;
   width: 200px; */
}

.submitButton {
   text-align: center;
   color: blue;
}

.revDiv {
   border-width: 2px;
   /* border-style: solid; */
   margin: 20px;

}

.revDiv {
   /* background-color: lightblue; */
   /* border-radius: 10%; */

   /* background-image: linear-gradient(blue, lightblue); */

   /* opacity: 0.5; */
}

.feild {
   width: 500px;
   /* background-color: lightblue; */
   margin: 5px;
   /* text-decoration: underline; */

   border: red;
   /* opacity: 0.5; */
}

.feildRev {
   width: 500px;
   height: 200px;
   margin: 5px;
   word-wrap: break-word;
   border: red;
   /* background-color: lightblue; */
   /* opacity: 0.5; */
}

.starSize {
   font-size: 25px;
}

/* ///////////

code for appetizers

////////// */

.fade {
   opacity: 0.5;
}

.fade:hover {
   opacity: 1;
}



.appsHeader {
   font-size: 50px;
}

.special {
   color: red;
}

.appName {
   margin: center;
   /* text-align: center; */
}

.springRoll {
   text-align: center;
   flex-direction: left;
}

.pixles {
   width: 200px;
   height: 200px;
}

.cards {
   width: 350px;
   height: 405px;
   margin: 10px;
}

.cards:hover {
   /* background: grey; */
   opacity: 0.8;
   cursor: pointer;
}

.flexcontainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

}

/* /////////

below is nav bar code

///////// */

.apps {
   /* font-size: 100px; */
   /* float:right; */
}

.icon {
   /* width: 200px; */
   /* height: 200px; */
   margin-right: 300px;
}

.navContainer {
   /* display: flex; */
   /* flex-direction: row; */
   /* justify-content: right; */
   margin-top: 100px;
   margin-bottom: 30px;
   font-size: 25px;

   text-align: center;
   text-decoration: none;


}

.navContainer a {

   text-decoration: none;


}


/* ///////////////

below is the css for the review page

///////// */
@import url(https://fonts.googleapis.com/css?family=Merriweather);
$red: #e74c3c;

*,
*:before,
*:after {
   @include box-sizing(border-box);
}

html,
body {
   background: #f1f1f1;
   font-family: 'Merriweather', sans-serif;
   padding: 1em;
}

h1 {
   text-align: center;
   color: #a8a8a8;
   @include text-shadow(1px 1px 0 rgba(white, 1));
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;

   input,
   textarea {
      border: 0;
      outline: 0;
      padding: 1em;
      @include border-radius(8px);
      display: block;
      width: 100%;
      margin-top: 1em;
      font-family: 'Merriweather', sans-serif;
      @include box-shadow(0 1px 1px rgba(black, 0.1));
      resize: none;

      &:focus {
         @include box-shadow(0 0px 2px rgba($red, 1) !important);
      }
   }

   #input-submit {
      color: white;
      background: $red;
      cursor: pointer;

      &:hover {
         @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6));
      }
   }

   textarea {
      height: 126px;
   }
}


.half {
   float: left;
   width: 48%;
   margin-bottom: 1em;
}

.right {
   width: 50%;
}

.left {
   margin-right: 2%;
}


@media (max-width: 480px) {
   .half {
      width: 100%;
      float: none;
      margin-bottom: 0;
   }
}


/* Clearfix */
.cf:before,
.cf:after {
   content: " ";
   /* 1 */
   display: table;
   /* 2 */
}

.cf:after {
   clear: both;
}